#dashboard-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 80vh;
    height: auto;
    width: auto;
    margin: 10% 10px;
    box-sizing: border-box;
  }

  aside{
    border: 2px solid;
    width: 150px;
    max-height: min-content;
    flex-shrink: 0;
    padding: 15px;
    background: #f0f0f0 ;
    border-radius: 5px;
  }
  
  .main-container{
    display: flex;
    height:   auto;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }

  .user-home{
    margin: 20px 30px;
  }
  
  .user-home h2,p{
    text-align: center;
  }

  @media(max-width:768px){
    #dashboard-container{
      margin-top: 20%;
    }

    /* .mobile-aside{
      border: 2px solid;
      width: 100%;
      height: auto;
      max-height: min-content;
      flex-shrink: 1;
      padding: 15px;
      background: #f0f0f0 ;
      border-radius: 5px;
    } */
  }